<!DOCTYPE html>
<html>
  
  <head>
    <title>Url Shortener</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
    <script type="text/javascript" src="client.js"></script>  
  </head>
  
  <body class="text-center" style="margin-top:200px">
    
    <h3  class="color"> 
      URL Shortener Microservice
    </h3>
    
    <h2>
      <a href="https://www.freecodecamp.org/challenges/url-shortener-microservice">FreeCodeCamp: API and Microservices</a>
    </h2>
    
    <section style="margin-top:60px">
    <input class="input" placeholder="Enter URL">
      <a class="btn btn-primary" style="vertical-align:baseline">Get ShortURL</a>
    </section>
    
  </body>
</html>
